#headSection {
            /* making full viewport div */
            height: 100vh;
            width: 100vw;
            /* responsive background imnage */
            background-image: url('../img/bgimg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% left;
            
            animation-name: fadeIn;
            animation-duration: 4s;
        }
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome {
            /* centering text */
            position: absolute;            
            top: 100%;
            width: 50%;
            right: 25%;            
            text-align: center;
            /* font settings */
            color: yellow;
            text-shadow: 3px 5px #000;
            font-family: 'Lobster', cursive, sans-serif;
            letter-spacing: 4px;
            word-spacing: 7px;
            font-size: 3em;
            /* text outline */
            -webkit-text-stroke: 0.5px #0033cc;     
            
            animation-name: goUp;
            animation-duration: 2s;
            animation-delay: 1s;                      
            animation-fill-mode: forwards;
        }
@keyframes goUp {
    from {
        top: 120%;
    }
    to {        
        top: 35%;
        
    }
}
.cardsize {
    width: 300px;
    height: 500px;
}
.hFonts {
            color: sandybrown;
            text-shadow: 2px 3px #000;
            font-family: 'Lobster', cursive, sans-serif;
            letter-spacing: 4px;
            word-spacing: 7px;
            font-size: 3em;
            /* text outline */
            -webkit-text-stroke: 0.5px #0033cc;   
        }        
.green {
            color: green;    
        }
.red {
            color: red;
        }
#footer {
            background-color: #333333;
            color: aliceblue;
            padding-bottom: 100px;
        }
/* .social {
            font-size: 200%;            
            -webkit-transition: fontsize 3s, color 3s, transform 3s; /* For Safari 3.1 to 6.0 */ /*
            transition: fontsize 3s, color 3s, transform 3s;           
        } 
*/
.social {
            font-size: 200%;            
            -webkit-transition: all 3s, transform 1.5s; /* For Safari 3.1 to 6.0 */
            transition: all 3s, transform 1.5s;
        }
.social:hover {
            font-size: 300%;
            color: greenyellow;
            -webkit-transform: rotate(360deg); /* Safari */
            transform: rotate(360deg);
        }
#accordion {
    width: 75%;
}
#coursesSection {
    background-color: #d5cebe;
}
#scrollDown {
    position: absolute;
    width: 100vw;
    bottom:  3%;
    text-align: center;    
}